[submodule "packages/escrow-contracts/lib/forge-std"]
	path = packages/escrow-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/escrow-contracts/lib/openzeppelin-contracts"]
	path = packages/escrow-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
